<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ログ整形ツール</title>
    <h1>ログ整形</h1>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="./test.js"></script>
    <script type="text/javascript">
        Array.prototype.chunk = function (n) {
            len = Math.round(this.length / n, 10)
            ret = []
            for (var i = 0; i < len; i++) {
                ret.push(this.slice(i * n, i * n + n))
            }
            return ret;
        }
        //おみくじとx回ダイスへの対応用メソッド
        function readRegex(str) {
            const log_regex_g = /x\d+ CCB(.*) (#\d+\n(.*)\n\n)+#\d+\n(.*)(スペシャル|成功|失敗)/g
            const omikuji_regex_g = /今日のあなたの運勢は……？ \n【.*】/g
            if (str.match(log_regex_g)) {
                res = str.match(log_regex_g)
                for (let r of res) {
                    alert(r)
                    r_new = r.split("\n").join('<br>')
                    alert(r_new)
                    str = str.replace(r, r_new)
                }
            } else if (str.match(omikuji_regex_g)) {
                res = str.match(omikuji_regex_g)
                for (let r of res) {
                    alert(r)
                    r_new = r.split("\n").join('<br>')
                    alert(r_new)
                    str = str.replace(r, r_new)
                }
            }
            return str
        }
        function logFileData() {
            var result = window.confirm("ダウンロードしますか？");
            if (result) {
                var content = document.getElementById('contentText').innerHTML.split("><").join(">\n<")
                var logFileName = document.getElementsByName('logFileName')[0].value
                var nameColor = document.getElementsByName('nameColor')[0].value
                // alert(nameColor)
                var backColor = document.getElementsByName('backColor')[0].value
                var viewCheck = document.getElementById('viewCheckText').innerHTML.split("><").join(">\n<")
                var copyText = returnTemplate(logFileName, nameColor, backColor, viewCheck, content)
                // alert(copyText)
                // alert(str)
                const blob = new Blob([copyText], { type: "text/plain" });
                const link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = logFileName + '.html';
                link.click();
            }
        }
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
        @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Sawarabi+Mincho&display=swap');

        html {
            font-size: 16px;
        }

        body {
            -webkit-text-size-adjust: 100%;
            background-color: #6b8e23;
            font-family: 'UD デジタル 教科書体 N-R', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
        }

        h1 {
            margin: 1rem 2rem 0;
            color: #ffffff;
            font-family: 'UD デジタル 教科書体 N-R', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
        }

        h2 {
            margin-bottom: .5rem;
        }

        h3 {
            margin: .5rem;
        }

        .disp_check {
            padding-left: .5rem;
            border-collapse: separate;
            border-spacing: 0 1rem;
        }

        .disp_check th {
            vertical-align: top;
            white-space: nowrap;
        }

        .disp_check td {
            display: inline-block;
        }

        .value {
            width: 3rem;
            white-space: nowrap;
        }

        .growth {
            padding-left: 1rem;
        }

        caption {
            white-space: nowrap;
            text-align: left;
            padding-left: .5rem;
        }

        details {
            padding: 1rem;
            background-color: #e6ece3;
            border-left: 3px solid #6b8e23;
        }

        .growth_box {
            /* margin: 1rem; */
            padding: .5rem;
            /* padding-top: 0rem; */
        }

        .box5 {
            padding: 1.5rem;
            margin: 1rem;
            border: double 5px #6b8e23;
            background-color: #ffffff;
        }

        .sample input {
            display: none;
        }

        .sample label {
            display: block;
            float: left;
            cursor: pointer;
            width: 2rem;
            margin: 0;
            padding: .5rem;
            background: #bdc3c7;
            color: #869198;
            font-size: 12px;
            text-align: center;
            line-height: 1;
            transition: .2s;
        }

        .sample label:first-of-type {
            border-radius: 0px 0 0 0px;
        }

        .sample label:last-of-type {
            border-radius: 0 0px 0px 0;
        }

        .sample input[type="radio"]:checked+.switch-on {
            background-color: #a1b91d;
            color: #fff;
        }

        .sample input[type="radio"]:checked+.switch-off {
            background-color: #e67168;
            color: #fff;
        }

        @media screen and (max-width: 480px) {
            html {
                font-size: 14px;
            }

            h1 {
                font-size: 30px;
                margin: .5rem 1rem 0;
                color: #ffffff;
                font-family: 'UD デジタル 教科書体 N-R', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
            }

            .box5 {
                margin: .5rem;
                padding: 1rem;
            }

            .sample label {
                width: 2rem;
                padding: .5rem .2rem;

            }
        }
    </style>
</head>

<body>
    <div class="box5">
        <div id="makeLog">
            整形したいログを選択してください．
            <br><br>
            <input type="file" accept="text/html" id="inputFile" @change="readLogFile">
            <br><br><br>

            <details>
                <summary>成長技能チェック</summary>
                <div class="growth_box">
                    <table class=disp_check>
                        <tr>
                            <th>タブ表示　：</th>
                            <td v-for="tab in tablist">
                                <input type="checkbox" :id="tab.tabname" checked="checked" v-model="tab.visible" />
                                <label class="switch-on" :for="tab.tabname" v-html="tab.tabname"></label>
                            </td>
                        </tr>
                        <tr>
                            <th>ダイス表示：</th>
                            <td v-for="label in labels">
                                <input type="checkbox" :id="label.labelname" checked="checked"
                                    v-model="label.visible" />
                                <label class="switch-on" :for="label.labelname">{{ label.labelname }}</label>
                            </td>
                        </tr>
                        <tr>
                            <th>オプション：</th>
                            <td>
                                <input type="checkbox" id="tabname" checked="checked" v-model="tabname.visible" />
                                <label class="switch-on" for="tabname">タブ名表示</label>
                            </td>
                            <td>
                                <input type="checkbox" id="value" checked="checked" v-model="value.visible" />
                                <label class="switch-on" for="value">出目表示</label>
                            </td>
                            <td>
                                <input type="checkbox" id="status" checked="checked" v-model="status" />
                                <label class="switch-on" for="status">ステ依存表示</label>
                            </td>
                        </tr>
                    </table>

                    <div id="growth_area">
                        <template v-for="char in character">
                            <template v-if="result[char.charname]">
                                <h3 v-html="'＜'+char.charname+'＞'"></h3>
                                <template v-for="label in labels">
                                    <table class="growth" v-if="result[char.charname][label.labelname]">
                                        <template v-if="label.visible">
                                            <caption>◯{{ label.labelname }}</caption>
                                            <template v-for="line in result[char.charname][label.labelname]">
                                                <template v-if="line.status">
                                                    <tr
                                                        v-if="status.visible&&tablist.filter((t) => t.tabname===line.tabname)[0].visible">
                                                        <td v-if="tabname.visible" v-html="'['+line.tabname+']'"></td>
                                                        <td class="ginou">{{ line.ginou }}</td>
                                                        <td v-if="value.visible">＞ {{ line.value }}</td>
                                                    </tr>
                                                </template>
                                                <template v-else>
                                                    <tr
                                                        v-if="tablist.filter((t) => t.tabname===line.tabname)[0].visible">
                                                        <td v-if="tabname.visible" v-html="'['+line.tabname+']'"></td>
                                                        <td class="ginou">{{ line.ginou }}</td>
                                                        <td v-if="value.visible">＞ {{ line.value }}</td>
                                                    </tr>
                                                </template>
                                            </template>
                                        </template>
                                    </table>
                                </template>
                                <br>
                            </template>
                        </template>
                        <br>
                        <br>
                    </div>
                    <button type="button" @click="copy">結果をコピー</button>
                </div>
            </details>

            <br><br>
            <table width=400px>
                <tbody>
                    <tr>
                        <th align="left">タイトル設定</th>
                    </tr>
                    <tr>
                        <td>ログ名</td>
                        <td>
                            <input type="text" name="logFileName" v-model="logFileName" />
                        <td>
                    </tr>
                    <tr>
                        <td>文字色</td>
                        <td>
                            <input type="color" name="nameColor" v-model="nameColor" />
                        </td>
                    </tr>
                    <tr>
                        <td>背景色</td>
                        <td>
                            <input type="color" name="backColor" v-model="backColor" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <br><br>

            <table width=300px class="tabs">
                <tbody>
                    <tr>
                        <th align="left">タブ色設定</th>
                    </tr>
                    <template v-for="tab in tablist">
                        <tr v-if="tab.tabname!=='メイン' && tab.tabname!=='情報'">
                            <td v-html="tab.tabname"></td>
                            <td>
                                <input type="color" name="tablist[][color]" v-model="tab.color" />
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>

            <br><br>

            <table class="equal_table">
                <tbody>
                    <tr align="left">
                        <th>キャラクタ設定</th>
                    </tr>
                    <tr :class="user.charname" v-for="(user,index) in character">
                        <td width="40%" v-html="user.charname"></td>
                        <td width="40%">
                            <div class="sample">
                                <input type="radio" :id="user.charname+'_char'" value="character"
                                    v-model="user.style" />
                                <label class="switch-on" :for="user.charname+'_char'"
                                    style="display: inline-block;">人物</label>
                                <input type="radio" :id="user.charname+'_item'" value="item" v-model="user.style" />
                                <label class="switch-on" :for="user.charname+'_item'"
                                    style="display: inline-block;">情報</label>
                                <input type="radio" :id="user.charname+'_scene'" value="scene" v-model="user.style" />
                                <label class="switch-on" :for="user.charname+'_scene'"
                                    style="display: inline-block;">場面</label>
                            </div>
                        </td>
                        <td width="15%">
                            <input type="color" v-model="user.color" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br><br>

            <div id="viewCheckText" style="display: none;">
                <div class="viewCheck">
                    <template v-for="tab in tablist">
                        <label :for="tab.tabname" v-if="!tab.tabname.match(/メイン|情報/)">
                            <input type="checkbox" :id="tab.tabname" checked="checked"
                                :onchange="'c_disp(this, \''+tab.tabname+' tab\')'" />
                            <span :id="tab.tabname" v-html="tab.tabname"></span>
                        </label>
                    </template>
                </div>
            </div>

            <div id="contentText" style="display: none;">
                <div v-for="tab in component"
                    :style="'border-left: 3px solid ' + tablist.find((t) => t.tabname === tab.tabname).color"
                    :class="tab.tabname==='メイン'||tab.tabname==='情報' ? 'メイン' : tab.tabname+' tab'">
                    <template v-for="con in tab.value">
                        <template v-if="character.find((u) => u.charname === con.charname).style==='character'">
                            <p class="char" :style="'color:'+character.find((u) => u.charname === con.charname).color">
                                <b v-html="con.charname" v-if="con.charname!==''"></b><br>
                                <template v-for="c in con.line">
                                    <span v-if="Object.keys(c.dice).length" :style="c.dice" v-html="c.content"></span>
                                    <span v-else v-html="c.content"></span><br>
                                </template>
                            </p>
                        </template>
                        <template v-if="character.find((u) => u.charname === con.charname).style==='item'">
                            <div class="box">
                                <span class="box-title" v-html="con.charname"></span>
                                <p>
                                    <template v-for="c in con.line">
                                        <span v-html="c.content"><br></span>
                                        <br>
                                    </template>
                                </p>
                            </div>
                        </template>
                        <template v-if="character.find((u) => u.charname === con.charname).style==='scene'">
                            <h3 v-html="con.charname"></h3>
                            <p>
                                <template v-for="c in con.line">
                                    <span v-html="c.content"><br></span>
                                    <br>
                                </template>
                            </p>
                        </template>
                    </template>
                </div>
            </div>
        </div>
        <button onclick="logFileData()">ダウンロード</button>
    </div>
</body>
<script>

    var makeLog = new Vue({
        el: "#makeLog",
        data: {
            isLoading: false,
            logFileName: "log",
            nameColor: "#ffffff",
            backColor: "#6b8e23",
            file: {},
            component: [],
            result: [],
            tablist: [],
            character: [],
            tabname: { visible: true },
            value: { visible: true },
            status: { visible: true },
            b_content: {
                tabname: "",
                charname: ""
            },
            labels: [
                { labelname: "クリティカル", visible: true },
                { labelname: "スペシャル", visible: true },
                { labelname: "ファンブル", visible: true },
                { labelname: "初期値成功", visible: true }
            ],
            copyText: "",
        },
        methods: {
            htmlSafe(str) {
                if (typeof str !== 'string') return str;
                var patterns = {
                    '<': '&lt;',
                    '>': '&gt;',
                    '&': '&amp;',
                    '"': '&quot;',
                    '\'': '&#x27;',
                    '`': '&#x60;',
                    ",": "&#44;",
                    ".": "&#46;",
                    "(": "&#40;",
                    ")": "&#41;",
                    " ": "&#32;"
                };
                return str.replace(/[<>&"'`,.()]/g, function (match) {
                    return patterns[match];
                })
            },
            copy() {
                const copyText = this.$el.querySelector('#growth_area').innerText
                navigator.clipboard
                    .writeText(copyText)
                    .then(() => {
                        console.log('テキストコピー完了')
                    })
                    .catch(e => {
                        console.error(e)
                    })
            },
            analizeDice(tabname, charname, content) {
                if (content.trim() !== '') {
                    const defaultDice = ["&lt;=25 【キック】", "&lt;=25 【組み付き】", "&lt;=50 【こぶし（パンチ）】",
                        "&lt;=10 【頭突き】", "&lt;=25 【投擲】", "&lt;=1 【マーシャルアーツ】", "&lt;=20 【拳銃】",
                        "&lt;=15 【サブマシンガン】", "&lt;=30 【ショットガン】", "&lt;=15 【マシンガン】", "&lt;=25 【ライフル】",
                        "&lt;=30 【応急手当】", "&lt;=1 【鍵開け】", "&lt;=15 【隠す】", "&lt;=10 【隠れる】", "&lt;=25 【聞き耳】",
                        "&lt;=10 【忍び歩き】", "&lt;=10 【写真術】", "&lt;=1 【精神分析】", "&lt;=10 【追跡】", "&lt;=40 【登攀】",
                        "&lt;=25 【図書館】", "&lt;=25 【目星】", "&lt;=20 【運転】", "&lt;=20 【機械修理】",
                        "&lt;=1 【重機械操作】", "&lt;=5 【乗馬】", "&lt;=25 【水泳】", "&lt;=5 【製作】", "&lt;=1 【操縦】",
                        "&lt;=25 【跳躍】", "&lt;=10 【電気修理】", "&lt;=10 【ナビゲート】", "&lt;=1 【変装】",
                        "&lt;=5 【言いくるめ】", "&lt;=15 【信用】", "&lt;=15 【説得】", "&lt;=5 【値切り】", "&lt;=70 【母国語】",
                        "&lt;=5 【医学】", "&lt;=5 【オカルト】", "&lt;=1 【化学】", "&lt;=0 【クトゥルフ神話】", "&lt;=5 【芸術】",
                        "&lt;=10 【経理】", "&lt;=1 【考古学】", "&lt;=1 【コンピューター】", "&lt;=5 【心理学】",
                        "&lt;=1 【人類学】", "&lt;=1 【生物学】", "&lt;=1 【地質学】", "&lt;=1 【電子工学】", "&lt;=1 【天文学】",
                        "&lt;=10 【博物学】", "&lt;=1 【物理学】", "&lt;=5 【法律】", "&lt;=1 【薬学】", "&lt;=20 【歴史】"]
                    var label = ""
                    var growth = {};
                    var regex = / 【(.*)】.*\(1D100&lt;=\d+\) ＞ (\d+) ＞ (.*)/;
                    var regex_d100 = /.* \(1D100&lt;=\d+\) ＞ (\d+) ＞ (.*)/;
                    const num = this.component.length - 1

                    var content = content.split("<br>")
                    temp_cont = []

                    for (let cont of content) {
                        var dice = {}
                        if (regex_d100.test(cont)) {
                            var res = cont.match(regex_d100)[1]
                            if (cont.match(/決定的成功/)) {
                                dice = { background: 'linear-gradient(transparent 70%, #7fbfff 0%)' }
                                label = "クリティカル"
                            } else if (cont.match(/スペシャル/)) {
                                dice = { background: 'linear-gradient(transparent 70%, #7fbfff 0%)' }
                                label = "スペシャル"
                            } else if (cont.match(/致命的失敗/)) {
                                dice = { background: 'linear-gradient(transparent 70%, #ff7f7f 0%)' }
                                label = "ファンブル"
                            } else if (cont.match(/成功|スペシャル/)) {
                                dice = { background: 'linear-gradient(transparent 70%, #7fbfff 0%)' }
                                var judge = cont.match(/&lt;=\d+ 【.*】/)
                                if (judge && defaultDice.includes(judge[0])) {
                                    label = "初期値成功"
                                }
                            } else {
                                dice = { backgroundColor: 'linear-gradient(transparent 70%, #ff7f7f 0%)' }
                            }
                            if (label != "") {
                                var s_regex = /SAN値チェック|STR|CON|POW|DEX|APP|SIZ|INT|EDU|アイデア|幸運|ショックロール|知識/;
                                var status = false
                                var skill = ""
                                //ステータス依存の項目の場合はstatusをtrueにする
                                if (s_regex.test(cont)) {
                                    status = true
                                }
                                if (regex.test(cont)) {
                                    skill = cont.match(regex)[1]
                                }
                                if (!this.result[charname]) {
                                    this.result[charname] = {}
                                    this.result[charname][label] = [{ tabname: tabname, ginou: skill, value: res, status: status }]
                                } else if (!this.result[charname][label]) {
                                    this.result[charname][label] = [{ tabname: tabname, ginou: skill, value: res, status: status }]
                                } else {
                                    this.result[charname][label].push({ tabname: tabname, ginou: skill, value: res, status: status })
                                }
                            }
                        }
                        temp_cont.push({ content: cont, dice: dice })
                    }
                    // this.component.push("{tabname:"+tabname+", charname:"+charname+", content:"+content+", dice:"+dice+"}")
                    if (num >= 0 && this.component[num].tabname === tabname) {
                        var last = this.component[num].value.length - 1
                        if (last >= 0 && this.component[num].value[last].charname === charname) {
                            this.component[num].value[last].line.push(...temp_cont)
                        } else {
                            this.component[num].value.push({ charname: charname, line: temp_cont })
                        }
                    } else {
                        this.component.push({ tabname: tabname, value: [{ charname: charname, line: temp_cont }] })
                    }
                }
            },
            readLogFile: function (e) {
                this.result = []
                this.tablist = [{ tabname: "メイン", color: "#ffffff", visible: true }, { tabname: "情報", color: "#ffffff", visible: true }]
                this.character = []
                this.component = []
                const files = e.target.files
                this.file = files[0]
                this.logFileName = this.file.name.replace(/\[.+\](.*)/, "").replace(/\.html/, "")
                var reader = new FileReader()
                reader.readAsText(this.file)
                // ファイル読み込み完了時の処理
                reader.onload = () => {
                    var content = reader.result
                    content = readRegex(content).split(/\n/)
                    this.readLog(content)
                    // console.log(file_reader.result);
                    alert("ファイル読み込み完了")
                }
                // ファイル読み込みエラー時の処理
                reader.onerror = () => {
                    alert("ファイル読み込みエラー")
                }
            },
            readLog(content) {
                var charname, style, color, tabname = ""
                list = ["system"]
                ary = []
                for (var i = 0; i < 10; i++) {
                    content.shift()
                }
                content.chunk(8).forEach(line => {
                    tabname = this.htmlSafe(line[1].match(/<span> \[(.*)\]</)[1]);
                    if (!this.tablist.some((u) => u.tabname === tabname)) {
                        this.tablist.push({ tabname: tabname, color: "#707070", visible: true })
                    }
                    if (line[1].match(/<span> \[(.*)\]</) && line[2] && line[2].match(/>(.*)</)) {
                        charname = this.htmlSafe(line[2].match(/>(.*)</)[1])
                        if (list.includes(charname)) {
                            style = "character"
                            ary = ary.filter(item => item.charname != charname)
                            if (line[0].match(/color:(.*);/)[1] == "#888888") {
                                color = "#707070"
                            } else {
                                color = line[0].match(/color:(.*);/)[1]
                            }
                        } else {
                            style = "item"
                            list.push(charname)
                            color = "#707070"
                        }
                        this.analizeDice(tabname, charname, line[4])

                        ary.push({ charname: charname, style: style, color: color })
                    }
                })
                this.character = ary.sort((a, b) => {
                    if (a.style < b.style) return -1;
                    if (a.style > b.style) return 1;
                    if (a.charname < b.charname) return -1;
                    if (a.charname > b.charname) return 1;
                    return 0
                })
            },
        }
    })
</script>

</html>