<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ログ整形ツール</title>
    <h1>ログ整形</h1>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="./yokogaki.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
        /**
         * ログの整形を行う
         * @param {string} logFileName ログファイル名
         * @param {string} nameColor 文字色
         * @param {string} frameColor 背景色
         * @param {string} viewCheck タブ表示
         * @param {string} content ログ内容
         * @returns {string} 整形後のログ
         */
        function logFileData() {
            if (window.confirm("ダウンロードしますか？")) {
                const content = document.getElementById('contentText').innerHTML.replace(/> *</g, ">\n<");
                const logFileName = document.getElementsByName('logFileName')[0].value;
                const title = document.getElementsByName('title')[0].value;
                const nameColor = document.getElementsByName('nameColor')[0].value;
                const frameColor = document.getElementsByName('frameColor')[0].value;
                const backColor = document.getElementsByName('backColor')[0].value;
                const viewCheck = document.getElementById('viewCheckText').innerHTML.replace(/> *</g, ">\n<");

                const copyText = returnTemplate(logFileName, title, nameColor, frameColor, backColor, viewCheck, content);
                const blob = new Blob([copyText], { type: "text/html" });
                const link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                link.download = `${logFileName}.html`;
                link.click();
            }
        }
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
        @import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=BIZ+UDPGothic&family=BIZ+UDPMincho&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Sawarabi+Mincho&display=swap');

        html {
            font-size: 16px;
        }

        body {
            -webkit-text-size-adjust: 100%;
            background-color: #6b8e23;
            font-family: sans-serif;
        }

        h1 {
            margin: 1rem 2rem 0;
            color: #ffffff;
            font-family: 'UD デジタル 教科書体 N-R', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
        }

        h2 {
            margin-bottom: .5rem;
        }

        h3 {
            margin: .5rem;
            color: #888888
        }

        .disp_check {
            padding-left: .5rem;
            border-collapse: separate;
            border-spacing: 0 1rem;
        }

        .disp_check th {
            vertical-align: top;
            white-space: nowrap;
        }

        .disp_check td {
            display: inline-block;
        }

        .value {
            width: 3rem;
            white-space: nowrap;
        }

        .growth {
            padding-left: 1rem;
        }

        caption {
            white-space: nowrap;
            text-align: left;
            padding-left: .5rem;
        }

        details {
            padding: .5rem;
            border: 1px solid #e6ece3;
            border-left: 3px solid #6b8e23;
        }

        .growth_box {
            padding: .5rem;

        }

        b {
            display: block;
        }

        .box5 {
            padding: 1.5rem;
            margin: 1rem;
            border: double 5px #6b8e23;
            background-color: #ffffff;
        }

        .box5 p {
            margin: 0;
            padding: .5rem .5rem .2rem;
            text-align: left;
        }

        .sample input {
            display: none;
        }

        .sample label {
            display: block;
            float: left;
            cursor: pointer;
            width: 2rem;
            margin: 0;
            padding: .5rem;
            background: #bdc3c7;
            color: #869198;
            font-size: 12px;
            text-align: center;
            line-height: 1;
            transition: .2s;
        }

        .sample label:first-of-type {
            border-radius: 0px 0 0 0px;
        }

        .sample label:last-of-type {
            border-radius: 0 0px 0px 0;
        }

        .sample input[type="radio"]:checked+.switch-on {
            background-color: #a1b91d;
            color: #fff;
        }

        .sample input[type="radio"]:checked+.switch-off {
            background-color: #e67168;
            color: #fff;
        }

        .tab {
            position: relative;
            margin: 1.5rem 0;
            padding: .5rem 1.5rem .5rem 1rem;
            box-sizing: border-box;
            background: rgba(127, 127, 127, 0.1);
            overflow-wrap: break-word;
        }

        .box {
            position: relative;
            margin: 2rem 1rem;
            padding: 1rem 1.5rem .5rem 1rem;
            border: solid 3px #888888;
            border-radius: 8px;
            background: #fff;
            line-height: 1.5;
        }

        .box .box-title {
            position: absolute;
            display: inline-block;
            top: -0.6rem;
            left: .5rem;
            padding: 0 .5rem;
            line-height: 1;
            background: #fff;
            color: #888888;
            font-weight: bold;
        }

        .box p {
            margin: 0;
            color: #888888;
        }

        .bbb {
            display: block;
            content: "";
            margin: 0rem;
        }

        /* PCの記載 */
        .char {
            margin: 1.5rem 1rem 2rem 0.5rem;
        }

        .KP {
            margin-left: .5rem;
        }

        @media screen and (max-width: 480px) {
            html {
                font-size: 14px;
            }

            h1 {
                font-size: 30px;
                margin: .5rem 1rem 0;
                color: #ffffff;
                font-family: 'UD デジタル 教科書体 N-R', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
            }

            .box5 {
                margin: .5rem;
                padding: 1rem;
            }

            .sample label {
                width: 2rem;
                padding: .5rem .2rem;

            }
        }
    </style>
</head>

<body>
    <div class="box5">
        <div id="makeLog">
            整形したいログを選択してください．
            <input type="radio" id="CoC6" name="system" value="CoC6" checked="checked" v-model="system">
            <label for="CoC6">6版</label>
            <input type="radio" id="CoC7" name="system" value="CoC7" v-model="system">
            <label for="CoC7">7版</label>
            <br><br>
            <input type="file" accept="text/html" id="inputFile" @change="readLogFile">
            <br><br><br>

            <details>
                <summary>成長技能チェック</summary>
                <div class="growth_box">
                    <table class=disp_check>
                        <tr>
                            <th>タブ表示　：</th>
                            <td v-for="(tab, name) in tablist">
                                <label class="switch-on" :for="name+'_dice'">
                                    <input type="checkbox" :id="name+'_dice'" checked="checked"
                                        v-model="tab.diceVisible" />
                                    <span v-html="name"></span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>ダイス表示：</th>
                            <td v-for="label in labels">
                                <label class="switch-on" :for="label.labelname">
                                    <input type="checkbox" :id="label.labelname" checked="checked"
                                        v-model="label.visible" />
                                    {{ label.labelname }}
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>オプション：</th>
                            <td>
                                <label class="switch-on" for="tabName">
                                    <input type="checkbox" id="tabName" checked="checked" v-model="tabName.visible" />
                                    タブ名表示
                                </label>
                            </td>
                            <td>
                                <label class="switch-on" for="value">
                                    <input type="checkbox" id="value" checked="checked" v-model="value.visible" />
                                    出目表示
                                </label>
                            </td>
                            <td>
                                <label class="switch-on" for="status">
                                    <input type="checkbox" id="status" checked="checked" v-model="status.visible" />
                                    ステ依存表示
                                </label>
                            </td>
                        </tr>
                    </table>

                    <div id="growth_area">
                        <template v-for="(val,char) in character">
                            <template v-if="result[char]">
                                <h3 v-html="'＜'+char+'＞'"></h3>
                                <template v-for="label in labels">
                                    <table class="growth" v-if="result[char][label.labelname] && label.visible">
                                        <caption>◯{{ label.labelname }}</caption>
                                        <template v-for="line in result[char][label.labelname]">
                                            <template v-if="line.status">
                                                <tr v-if="status.visible && tablist[line.tabName].diceVisible">
                                                    <td v-if="tabName.visible" v-html="'['+line.tabName+']'"></td>
                                                    <td class="ginou">{{ line.ginou }}</td>
                                                    <td v-if="value.visible">＞ {{ line.value }}</td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr v-if="tablist[line.tabName].diceVisible">
                                                    <td v-if="tabName.visible" v-html="'['+line.tabName+']'"></td>
                                                    <td class="ginou">{{ line.ginou }}</td>
                                                    <td v-if="value.visible">＞ {{ line.value }}</td>
                                                </tr>
                                            </template>
                                        </template>
                                    </table>
                                </template>
                                <br>
                            </template>
                        </template>
                        <br><br>
                    </div>
                    <button type="button" @click="copy">結果をコピー</button>
                </div>

            </details>
            <br>
            <details>
                <summary>表示形式サンプル</summary>
                <div class="growth_box">


                    <div class="char" style="color: rgb(30, 144, 255);">
                        <b>キャラクタ名</b>
                        <p class="bbb">
                            <span>情報を選ぶとこんな感じで表示されます</span> <br>
                        </p>
                    </div>
                    <div class="box">
                        <span class="box-title">アイテム名</span>
                        <p>
                            <span>情報を選ぶとこんな感じで表示されます</span> <br>
                        </p>
                    </div>

                    <h3>シーン名</h3>
                    <p class="KP" style="color: rgb(112, 112, 112);">
                        <span>場面を選ぶとこんな感じで表示されます</span> <br>
                    </p>

                    <div class="tab" style="border-left: 3px solid rgb(211, 13, 13);">
                        <div class="char" style="color: rgb(50, 150, 50);">
                            <b>キャラクタ名</b>
                            <p class="bbb">
                                <span>メインと情報以外のタブはこんな感じ(左側のラインの色が選択できます)</span>
                            </p>
                            </p>
                        </div>
                    </div>
            </details>
            <br>

            <canvas id="diceGraph"></canvas>

            <br>
            <table width=400px>
                <tbody>
                    <tr>
                        <th align="left">＜基本の設定＞</th>
                    </tr>
                    <tr style="width: 100%;">
                        <td style="width: 8rem;">ファイル名</td>
                        <td style="width: 15rem;">
                            <input type="text" style="width: 12rem;" 　name="logFileName" v-model="logFileName" /> .html
                        <td>
                    </tr>
                    <tr>
                        <td>タイトル</td>
                        <td>
                            <input type="text" style="width: 15rem;" 　name="title" v-model="title" />
                        </td>
                    <tr>
                        <td>タイトル色</td>
                        <td>
                            <input type="color" name="nameColor" v-model="nameColor" />
                        </td>
                    </tr>
                    <tr>
                        <td>外枠色</td>
                        <td>
                            <input type="color" name="frameColor" v-model="frameColor" />
                        </td>
                    </tr>
                    <tr　style="display:none;">
                        <td>背景色</td>
                        <td>
                            <input type="color" name="backColor" v-model="backColor" />
                        </td>
                    </tr>

                </tbody>
            </table>

            <br><br>

            <table width=300px class="tabs">
                <tbody>
                    <tr>
                        <th colspan="4" align="left">＜タブ設定＞ ※チェックありを出力</th>
                    </tr>
                    <template v-for="(tab, name) in tablist">
                        <tr>
                            <td>
                                <input type="checkbox" :name="name+'_visible'" :checked="tab.visible"
                                    @click="changeChecked" />
                            </td>
                            <td v-html="name"></td>
                            <td v-if="name!=='メイン' && name!=='情報'">
                                <input type="color" :name="name+'_color'" :value="tab.color"
                                    @change="changeColor" />
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>

            <br><br>

            <table class="equal_table">
                <tbody>
                    <tr align="left">
                        <th>＜キャラクタ設定＞</th>
                    </tr>
                    <tr :class="name" v-for="(user,name) in character">
                        <td width="50%" v-html="name"></td>
                        <td width="40%">
                            <div class="sample">
                                <input type="radio" :id="name+'_char'" value="character" v-model="user.style" />
                                <label class="switch-on" :for="name+'_char'" style="display: inline-block;">人物</label>
                                <input type="radio" :id="name+'_item'" value="item" v-model="user.style" />
                                <label class="switch-on" :for="name+'_item'" style="display: inline-block;">情報</label>
                                <input type="radio" :id="name+'_scene'" value="scene" v-model="user.style" />
                                <label class="switch-on" :for="name+'_scene'" style="display: inline-block;">場面</label>
                            </div>
                        </td>
                        <td width="15%">
                            <input type="color" v-model="user.color" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <br><br>

            <div id="viewCheckText" style="display: none;">
                <div class="viewCheck">
                    <span v-for="(tab, name) in tablist">
                        <template v-if="tab.visible">
                            <span>
                                <label :for="name" v-if="name!=='メイン' && name!=='情報'">
                                    <input type="checkbox" :id="name" checked="checked"
                                        :onchange="'c_disp(this, \''+name+' tab\')'" :style="{'accent-color': tab.color}" />
                                    <span :id="name+'_label'" v-html="name"></span>
                                </label>
                            </span>
                        </template>
                    </span>
                </div>
            </div>
            <button onclick="logFileData()">ダウンロード</button>

            <!-- ログ表示エリア -->
            <div id="contentText" style="display: none;">
                <template v-for="tab in component">
                    <div v-if="tablist[tab.tabName].visible"
                        :style="'border-left: 3px solid ' + tablist[tab.tabName].color"
                        :class="tab.tabName==='メイン'||tab.tabName==='情報' ? 'メイン' : tab.tabName+' tab'">
                        <template v-for="con in tab.value">
                            <template v-if="character[con.charName].style==='character'">
                                <div class="char" :style="'color:'+character[con.charName].color">
                                    <b v-html="con.charName" v-if="con.charName.trim()"></b>
                                    <p class="bbb" v-for="ccc in con.line">
                                        <template v-for="c in ccc">
                                            <span v-if="Object.keys(c.dice).length" :style="c.dice"
                                                v-html="c.content"></span>
                                            <span v-else v-html="c.content"></span>
                                            <br>
                                        </template>
                                    </p>
                                </div>
                            </template>
                            <template v-else-if="character[con.charName].style==='item'">
                                <div class="box">
                                    <span class="box-title" v-html="con.charName"></span>
                                    <p class="bbb" v-for="ccc in con.line">
                                        <template v-for="c in ccc">
                                            <span v-html="c.content"><br></span>
                                            <br>
                                        </template>
                                    </p>
                                </div>
                            </template>
                            <template v-else>
                                <p class="KP" v-html :style="'color:'+character[con.charName].color">{{ con.charName }}
                                </p>
                                <p class="bbb" v-for="ccc in con.line">
                                    <template v-for="c in ccc">
                                        <span v-html="c.content"></span><br>
                                    </template>
                                </p>
                            </template>
                        </template>
                    </div>
                </template>
            </div>
        </div>
    </div>
</body>
<script>
    const DEFAULT_COLOR = "#ffffff";
    const BACK_COLOR = "#ffffff";
    const FRAME_COLOR = "#6b8e23";
    const blueBackground = { background: 'linear-gradient(transparent 70%, #7fbfff 0%)' };
    const redBackground = { background: 'linear-gradient(transparent 70%, #ff7f7f 0%)' };


    var makeLog = new Vue({

        el: "#makeLog",
        data: {
            regex: /\s*【(.*)】.*\(1D100&lt;=\d+\) ＞ (\d+) ＞ (.*)/,
            regex_d100: /.*\(1D100&lt;=\d+\) ＞ (\d+) ＞ (.*)/,
            dicePath: "./defaultDice6th.json",
            times_regex_g: /x\d+( |　)(CCB|CC|RESB|RES)(.*) (#\d+\n(.*)\n\n)+#\d+\n(.*)(クリティカル|スペシャル|成功|失敗)/g,
            isLoading: false,
            logFileName: "log",
            title: "ログ",
            system: "CoC6",
            myChart: null,
            nameColor: DEFAULT_COLOR,
            frameColor: FRAME_COLOR,
            backColor: BACK_COLOR,
            file: {},
            component: [],
            result: [],
            tablist: {},
            character: {},
            tabName: { visible: true },
            value: { visible: true },
            status: { visible: true },
            labels: [
                { labelname: "クリティカル", visible: true },
                { labelname: "スペシャル", visible: true },
                { labelname: "ファンブル", visible: true },
                { labelname: "初期値成功", visible: true },
                { labelname: "通常成功", visible: false },
                { labelname: "通常失敗", visible: false }
            ],
            copyText: "",
            datasets: [],
            defaultDice: [],
            error_list: []
        },
        methods: {
            /**
             * ログ内容のリセット
             */
            reset() {
                try {
                    this.result = []
                    this.tablist = { "メイン": { color: "rgba(255,255,255,0)", visible: true, "diceVisible": true }, "情報": { color: "rgba(255,255,255,0)", visible: true, "diceVisible": true } }
                    this.character = {}
                    this.component = []
                    this.readDefaultDice()
                    this.datasets = []
                    // グラフの初期化   
                    if (this.myChart) {
                        this.myChart.destroy()
                    }
                } catch (e) {
                    alert("ログ内容のリセットでエラーが発生しました．");
                }
            },
            /**
            * テキストコピー
            */
            copy() {
                // コピーするテキストを取得
                const copyText = this.$el.querySelector('#growth_area').innerText
                navigator.clipboard
                    .writeText(copyText)
                    .then(() => {
                        alert('テキストコピー完了')
                        console.log('テキストコピー完了')
                    })
                    .catch(e => {
                        console.error(e)
                    })
            },
            changeColor() {
                const name = event.target.name.split('_')[0]
                // チェックボックスの色を変更
                this.tablist[name].color = event.target.value
                this.$nextTick(() => {
                    this.$forceUpdate()
                })
            },
            changeChecked(event) {
                const name = event.target.name.split('_')[0]
                // チェックボックスの表示を変更
                this.tablist[name].visible = event.target.checked
                this.$nextTick(() => {
                    this.$forceUpdate()
                })
            },
            readDefaultDice() {
                if (this.system === "CoC6") {
                    this.dicePath = "./defaultDice6th.json"
                    this.regex = /\s*【(.*)】.*\(1D100&lt;=\d+\) ＞ (\d+) ＞ (.*)/;
                    this.regex_d100 = /.*\(1D100&lt;=\d+\) ＞ (\d+) ＞ (.*)/;
                    this.times_regex_g = /x\d+( |　)(CCB|CC|RESB|RES)(.*) (#\d+\n(.*)\n\n)+#\d+\n(.*)(クリティカル|スペシャル|成功|失敗)/g;
                    this.labels = [
                        { labelname: "クリティカル", visible: true },
                        { labelname: "スペシャル", visible: true },
                        { labelname: "ファンブル", visible: true },
                        { labelname: "初期値成功", visible: true },
                        { labelname: "通常成功", visible: false },
                        { labelname: "通常失敗", visible: false }
                    ]
                } else if (this.system === "CoC7") {
                    this.dicePath = "./defaultDice7th.json"
                    this.regex = /\s*【(.*)】.*\(1D100&lt;=\d+\) ボーナス・ペナルティダイス\[\-*\d+\] ＞ [\d\,\s]+ ＞ (\d+) ＞ (.*)/;
                    this.regex_d100 = /.*\(1D100&lt;=\d+\) ボーナス・ペナルティダイス\[\-*\d+\] ＞ [\d\,\s]+ ＞ (\d+) ＞ (.*)/;
                    this.times_regex_g = /x\d+( |　)(CC|RES|CBR)(.*) (#\d+\n(.*)\n\n)+#\d+\n(.*)(クリティカル|スペシャル|成功|失敗)/g;
                    this.labels = [
                        { labelname: "クリティカル", visible: true },
                        { labelname: "イクストリーム", visible: true },
                        { labelname: "ハード", visible: true },
                        { labelname: "ファンブル", visible: true },
                        { labelname: "初期値成功", visible: true },
                        { labelname: "通常成功", visible: false },
                        { labelname: "通常失敗", visible: false }
                    ]
                }
                fetch(this.dicePath)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('ダイス情報読み込みエラー');
                        }
                        return response.json();
                    })
                    .then(data => {
                        this.defaultDice = data
                        console.log('ダイスの初期値読み込み完了');
                    })
                    .catch(error => {
                        console.error('ダイス情報読み込みエラー:', error);
                    });
            },
            /**
            * ログファイルの解析
            * @param {string} tabName タブ名
            * @param {string} charName キャラクタ名
            * @param {string} content ログ内容
            */
            analyzeLogFile(tabName, charName, content) {
                try {
                    // 空行でない場合
                    if (content.trim() !== '') {
                        // 改行で分割
                        let contents = content.split("<br>");
                        var temp_cont = [];
                        let dice = {};
                        // 各行の解析
                        for (let cont of contents) {
                            // 空行の場合は値を追加して次の行へ
                            if (cont.trim() === '') {
                                this.addValue(tabName, charName, temp_cont);
                                // 初期化
                                temp_cont = [];
                                continue;
                                // ダイス行の場合はダイスの解析
                            } else {
                                temp_list = this.checkDice(cont, tabName, charName);
                                for (let temp of temp_list) {
                                    temp_cont.push(temp);
                                }
                            }
                        }
                        // 値を追加
                        this.addValue(tabName, charName, temp_cont);
                        temp_cont = [];
                    }
                } catch (e) {
                    alert("ログ解析でエラーが発生しました．");
                }
            },
            /**
             * 値の追加
             * @param {string} tabName タブ名
             * @param {string} charName キャラクタ名
             * @param {string} line 行
             */
            addValue(tabName, charName, line) {
                try {
                    // 最後のコンポーネントを取得
                    const num = this.component.length - 1;
                    // タブ名が同じ場合
                    if (num >= 0 && this.component[num].tabName === tabName) {
                        const lastComponent = this.component[num];
                        const lineNum = lastComponent.value.length - 1;
                        const lastValue = lineNum >= 0 ? lastComponent.value[lineNum] : null;
                        // キャラクタ名が同じ場合
                        if (lastValue && lastValue.charName === charName) {
                            this.component[num].value[lineNum].line.push(line);
                            // キャラクタ名が異なる場合
                        } else {
                            this.component[num].value.push({ charName: charName, line: [line] });
                        }
                        // タブ名が異なる場合
                    } else {
                        this.component.push({ tabName: tabName, value: [{ charName: charName, line: [line] }] });
                    }
                } catch (e) {
                    alert("値の追加でエラーが発生しました．");
                }

            },
            /**
             * ダイスの解析
             * @param {string} cont ログ内容
             * @param {string} tabName タブ名
             * @param {string} charName キャラクタ名
             */
            checkDice(cont, tabName, charName) {
                try {
                    // x回ダイスの正規表現
                    if (cont.match(this.times_regex_g)) {
                        // x回ダイスの正規表現
                        return this.checkTimesDice(cont, tabName, charName);
                    } else if (cont.match(this.regex_d100)) {
                        // 通常ダイスの正規表現
                        return this.checkNormalDice(cont, tabName, charName);
                    } else {
                        return [{ content: cont, dice: {} }];
                    }
                } catch (e) {
                    error_list.push("ダイス解析でエラーが発生しました．");
                    return [{ content: cont, dice: {} }];
                }
            },
            /**
             * x回ダイスの解析
             * @param {string} cont ログ内容
             * @param {string} tabName タブ名
             * @param {string} charName キャラクタ名
             * @returns {list} ダイスのリスト
             */
            checkTimesDice(cont, tabName, charName) {
                var temp_list = [];
                var skill = "";
                var option = "";

                try {
                    // x回ダイスの正規表現(スキルあり)
                    const times_with_skill_g = /x\d+( |　)(CCB|CC)[\(\-\+0-9\)]*&lt;=(\d+[crhe]*) 【(.*)】 #\d+\n.*\n\n+#\d+\n.*(クリティカル|スペシャル|成功|失敗)/;
                    // スキルがある場合
                    if (cont.match(times_with_skill_g)) {
                        skill = cont.match(times_with_skill_g)[4];
                    }
                    var judge = cont.match(/&lt;=\d+[crhe]* 【.*】/);
                    if (this.system === "CoC6") {
                        var xdice = cont.match(/#\d+\n\(1D100&lt;=\d+\) ＞ (\d+) ＞ (.*)/g);
                    } else {
                        var option_match = cont.match(/(CC|RES|CBR)[\(\-\+0-9\)]*&lt;=\d+([crhe])/);
                        if (option_match) {
                            option = option_match[2];
                        }
                        var xdice = cont.match(/#\d+\n\(1D100&lt;=\d+\) ボーナス・ペナルティダイス\[\-*\d+] ＞ [\d\,\s]+ ＞ (\d+) ＞ (.*)/g);
                    }
                    // 一致したそれぞれの部分に対して
                    if (xdice) {
                        var match = cont.match(/(x\d+.*)#/);
                        temp_list.push({ content: match[1], dice: {} });
                        for (let r of xdice) {
                            dice = this.checkAllDice(r, tabName, charName, skill, judge, option);
                            temp_list.push({ content: r, dice: dice });
                        }
                    } else {
                        temp_list.push({ content: cont, dice: {} });
                    }
                    return temp_list
                } catch (e) {
                    error_list.push(`x回ダイスの解析でエラーが発生しました．${cont}`);
                    return [{ content: cont, dice: {} }];
                }
            },
            /**
             * 通常ダイスの解析
             * @param {string} cont ログ内容
             * @param {string} tabName タブ名
             * @param {string} charName キャラクタ名
             * @returns {list} ダイスのリスト
             */
            checkNormalDice(cont, tabName, charName) {
                try {
                    var dice = {};
                    var option = "";
                    // スキルがある場合
                    if (cont.match(this.regex)) {
                        skill = cont.match(this.regex)[1];
                    }
                    
                    // 判定値の正規表現
                    const judge = cont.match(/&lt;=\d+[crhe]* 【.*】/);

                    option_match = cont.match(/(CC|RES|CBR)[\(\-\+0-9\)]*&lt;=\d+([crhe])/);
                    if (this.system === "CoC7" && option_match) {
                        option = option_match[2];
                    }
                    // 通常のダイスの解析
                    dice = this.checkAllDice(cont, tabName, charName, skill, judge, option);
                    return [{ content: cont, dice: dice }];
                } catch (e) {
                    error_list.push(`通常ダイスの解析でエラーが発生しました．${cont}`);
                    return [{ content: cont, dice: {} }];
                }
            },

            /**
             * ダイスの解析
             * @param {string} cont ログ内容
             * @param {string} tabName タブ名
             * @param {string} charName キャラクタ名
             * @param {string} skill スキル名
             * @param {string} judge 判定値
             * @returns {string} ダイスの色
             */
            checkAllDice(cont, tabName, charName, skill, judge, option) {
                try {
                    // ステータスの正規表現
                    const s_regex = /SAN値チェック|正気度ロール|STR|CON|POW|DEX|APP|SIZ|INT|EDU|アイデア|幸運|ショックロール|知識/;
                    // ステータス判定
                    let status = s_regex.test(cont);
                    // ダイスの解析
                    let label = "通常失敗";
                    dice = redBackground;
                    let res = cont.match(this.regex_d100)[1];
                    if (cont.match(/クリティカル|決定的成功|スペシャル/)) {
                        dice = blueBackground;
                        label = cont.match(/クリティカル|決定的成功/) ? "クリティカル" : "スペシャル";
                    } else if (cont.match(/致命的失敗|ファンブル/)) {
                        dice = redBackground;
                        label = "ファンブル";
                    } else if (cont.match(/成功/)) {
                        dice = blueBackground;
                        if (judge && this.defaultDice.includes(judge[0])) {
                            label = "初期値成功";
                        }else if (cont.match(/ハード成功/) || option === "h") {
                            label = "ハード";
                        } else if (cont.match(/イクストリーム成功/ || option === "e")) {
                            label = "イクストリーム";
                        } else if (option === "c") {
                            label = "クリティカル";
                        } else {
                            label = "通常成功";
                        }
                    }
                    // キャラクタがない場合は追加
                    if (!this.result[charName]) { this.result[charName] = {}; }
                    // ラベルがない場合は追加
                    if (!this.result[charName][label]) { this.result[charName][label] = []; }
                    // ダイスの追加
                    this.result[charName][label].push({ tabName: tabName, ginou: skill, value: res, status: status });
                    // ダイスの返却
                    return dice;
                } catch (e) {
                    error_list.push(`ダイス判定の解析でエラーが発生しました．${cont}`);
                    return redBackground
                }
            },
            /**
             * ログファイルの読み込み
             * @param {Event} e イベント
             * @returns {boolean} ファイル情報取得エラー
             * @returns {boolean} ファイル読み込み完了
            */
            readLogFile: function (e) {
                // 初期化
                this.reset()
                // ファイルの取得
                const files = e.target.files
                this.file = files[0]
                this.logFileName = this.file.name.replace(/\[.+\](.*)/, "").replace(/\.html/, "")
                this.title = this.logFileName
                var reader = new FileReader()
                // ファイル読み込み開始
                reader.readAsText(this.file)
                // ファイル読み込み完了時の処理
                reader.onload = () => {
                    var content = reader.result
                    if (this.readLog(content)) {
                        if (this.error_list.length > 0) {
                            alert("ログファイルの解析でエラーが発生しました．\n（ログの出力は可能です）\n\n以下エラー内容:\n" + this.error_list.join("\n"));
                        }else{
                            alert("ファイル読み込み完了")
                        }
                        // グラフを作成
                        this.createGraph()
                    } else {
                        alert("ファイル読み込みエラー")
                    }
                }
                // ファイル読み込みエラー時の処理
                reader.onerror = () => {
                    alert("ファイル読み込みエラー")
                }
            },
            /**
             * ログファイルの解析
             * @param {*} content 
             * @returns 
             */
            readLog(content) {
                // 初期値
                var charName, style, color, tabName = ""
                list = ["system"]
                ary = []
                const regex = /<p style="color:(#[0-9a-z]{6});">\s+<span> \[(.+)\]<\/span>\s+<span>(.*?)<\/span> \:\s+<span>\s+([\s\S\n]*?)\s*<\/span>\s+<\/p>/g

                try {
                    // マッチング実行
                    const matches = content.matchAll(regex);

                    // 各ブロックごとに処理
                    for (const match of matches) {

                        charColor = match[1]                    // キャラクタの色の取得
                        tabName = this.gettabName(match[2]);    // タブ名の取得
                        charName = match[3]                     // キャラクタ名の取得
                        content = match[4]                      // 内容の取得
                        style = "item"                          // スタイルの初期値

                        // タブリストにタブ名がない場合は追加
                        if (!this.tablist[tabName]) {
                            this.tablist[tabName] = { color: this.getRandomColor(), visible: true, diceVisible: true }
                        }

                        // キャラクタ名がリストにある場合はスタイルを変更
                        if (this.character[charName]) {
                            this.character[charName].style = "character"

                            // キャラクタ名の色を変更
                            this.character[charName].color = charColor

                            // キャラクタ名がリストにない場合は追加
                        } else {
                            this.character[charName] = { color: charColor, style: "item" }
                        }
                        // ダイスの解析
                        this.analyzeLogFile(tabName, charName, content)
                    }
                    // キャラクタリストのソート
                    // キャラクタ名でstyleがcharacterのものを先頭に移動したのち、それぞれのキャラクタ名でソート
                    this.character = Object.fromEntries(Object.entries(this.character).sort((a, b) => {
                        if (a[1].style === b[1].style) {
                            return a[0] < b[0] ? -1 : 1
                        } else {
                            return a[1].style === "character" ? -1 : 1
                        }
                    }))

                    return true
                } catch {
                    alert("ログファイルの解析でエラーが発生しました．")
                    return false
                }
            },
            /**
             * タブ名の取得
             * @param {string} rawtabName タブ名
             * @returns {string} タブ名
             */
            gettabName(rawtabName) {
                switch (rawtabName) {
                    case "main": return "メイン";
                    case "info": return "情報";
                    case "other": return "雑談";
                    default: return rawtabName;
                }
            },
            createGraph() {
                try{
                    const ctx = document.getElementById('diceGraph').getContext('2d');

                    // X軸のラベルを設定
                    const labels = Array.from({ length: 20 }, (_, i) => (i * 5 + 1).toString() + "-" + ((i + 1) * 5).toString()); // Update labels for 1 to 100 dice rolls
                    var color = DEFAULT_COLOR
                    for (char in this.result) {
                        if (char === "chunk") continue;
                        if (!this.character[char]) {
                            color = this.getRandomColor();
                        } else {
                            color = this.character[char].color;
                        }
                        this.datasets.push({
                            label: char,
                            data: this.extractDiceInfo(char),
                            backgroundColor: [color],
                        });
                    };

                    // グラフの描画
                    // Y軸は「回数」、目盛りは0から、間隔は1
                    // X軸は「出目」、目盛りは1から100、間隔は5
                    this.myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: this.datasets,
                        },
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    // 整数のみ表示
                                    ticks: {
                                        stepSize: 1,
                                        beginAtZero: true,
                                    },
                                    // 軸ラベル
                                    title: {
                                        display: true,
                                        text: '回数'
                                    }
                                },
                                x: {
                                    beginAtZero: true,
                                    // 軸ラベル
                                    title: {
                                        display: true,
                                        text: '出目'
                                    }
                                }
                            }
                        },
                    })
                } catch (e) {
                    alert("グラフの作成でエラーが発生しました．")
                }
            },
            /**
             * ダイスの情報を取得
             * @param {string} char キャラクタ名
             * @returns {list} ダイスの情報
             */
            extractDiceInfo(char) {
                try {
                    // 5刻みにダイスの出目を集計
                    let diceInfo = Array.from({ length: 20 }, () => 0);
                    // const diceInfo = Array.from({length: 100}, () => 0);
                    for (labels in this.result[char]) {
                        for (dices in this.result[char][labels]) {
                            let dice = this.result[char][labels][dices];
                            diceInfo[Math.floor(dice.value / 5)]++;
                            // }
                        }
                    }
                    return diceInfo;
                } catch (e) {
                    alert("ダイス情報の取得でエラーが発生しました．")
                    return []
                }
            },
            getRandomColor() {
                const letters = '123456789AB';
                let color = '#';
                for (let i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 11)];
                }
                return color;
            }

        }
    })
</script>

</html>