@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=BIZ+UDPGothic&family=BIZ+UDPMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Sawarabi+Mincho&display=swap');

html {
    font-size: 16px;
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: #6b8e23;
    font-family: sans-serif;
}

h1 {
    margin: 1rem 2rem 0;
    color: #ffffff;
    font-family: 'UD デジタル 教科書体 N-R', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
}

h2 {
    margin-bottom: .5rem;
}

h3 {
    margin: .5rem;
    color: #888888
}

.disp_check {
    padding-left: .5rem;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.disp_check th {
    vertical-align: top;
    white-space: nowrap;
}

.disp_check td {
    display: inline-block;
}

.value {
    width: 3rem;
    white-space: nowrap;
}

.growth {
    padding-left: 1rem;
}

caption {
    white-space: nowrap;
    text-align: left;
    padding-left: .5rem;
}

details {
    padding: .5rem;
    border: 1px solid #e6ece3;
    border-left: 3px solid #6b8e23;
}

.growth_box {
    padding: .5rem;

}

b {
    display: block;
}

.box5 {
    padding: 1.5rem;
    margin: 1rem;
    border: double 5px #6b8e23;
    background-color: #ffffff;
}

.box5 p {
    margin: 0;
    padding: .5rem .5rem .2rem;
    text-align: left;
}

.sample input {
    display: none;
}

.sample label {
    display: block;
    float: left;
    cursor: pointer;
    width: 2rem;
    margin: 0;
    padding: .5rem;
    background: #bdc3c7;
    color: #869198;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    transition: .2s;
}

.sample label:first-of-type {
    border-radius: 0px 0 0 0px;
}

.sample label:last-of-type {
    border-radius: 0 0px 0px 0;
}

.sample input[type="radio"]:checked+.switch-on {
    background-color: #a1b91d;
    color: #fff;
}

.sample input[type="radio"]:checked+.switch-off {
    background-color: #e67168;
    color: #fff;
}

.tab {
    position: relative;
    margin: 1.5rem 0;
    padding: .5rem 1.5rem .5rem 1rem;
    box-sizing: border-box;
    background: rgba(127, 127, 127, 0.1);
    overflow-wrap: break-word;
}

.box {
    position: relative;
    margin: 2rem 1rem;
    padding: 1rem 1.5rem .5rem 1rem;
    border: solid 3px #888888;
    border-radius: 8px;
    background: #fff;
    line-height: 1.5;
}

.box .box-title {
    position: absolute;
    display: inline-block;
    top: -0.6rem;
    left: .5rem;
    padding: 0 .5rem;
    line-height: 1;
    background: #fff;
    color: #888888;
    font-weight: bold;
}

.box p {
    margin: 0;
    color: #888888;
}

.bbb {
    display: block;
    content: "";
    margin: 0rem;
}

/* PCの記載 */
.char {
    margin: 1.5rem 1rem 2rem 0.5rem;
}

.KP {
    margin-left: .5rem;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
        margin: .5rem 1rem 0;
        color: #ffffff;
        font-family: 'UD デジタル 教科書体 N-R', 'Noto Sans JP', 'Hiragino Sans', sans-serif;
    }

    .box5 {
        margin: .5rem;
        padding: 1rem;
    }

    .sample label {
        width: 2rem;
        padding: .5rem .2rem;

    }
}